doctype html
html(lang="en")
  head
    title Simple node server
    link(href="/css/bundle.min.ac577c93.css")
  body
    block content
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/js/bundle.min.d41d8cd9.js")
